@using Microsoft.AspNetCore.Identity
@using BearMountain.Models
@model BearMountain.Models.BasketItem

@inject SignInManager<ApplicationUser> SignInManager


<head>
    <title>Bear Mountain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/StyleSheet.css" />
</head>

<body>
    <header>
        <h1>Bear Mountain</h1>
        <nav>
            <a asp-controller="Inventory" asp-action="Index">Products</a>
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Inventory" asp-action="Cart">Shopping Cart</a>
            @if (SignInManager.IsSignedIn(User))
            {
                <p>Signed in as: @User.Claims.First(name => name.Type == "FullName").Value</p>
            }
            else
            {
                <p>You are not logged in!</p>
            }
        </nav>
    </header>

    <article>
        <h4>Featured Products</h4>
        <img src="~/assets/arcteryxJacket.jpg" />
        <img src="~/assets/msrSnowShoes.jpg" />
        <img src="~/assets/reiTent.jpg" />
    </article>
    <div class="basket">
        @await Component.InvokeAsync("ItemsInCart", @User.Claims.First(email => email.Type == "Email").Value)

    </div>

</body>
