@using BearMountain.Models;

@model IEnumerable<BearMountain.Models.ViewModels.BasketViewModel>

@{
    ViewData["Title"] = "Receipt";
}

<h4>Receipt</h4>

<table class="products">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductID">
                    <img src="~/assets/@Html.DisplayFor(modelItem => item.Image)" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
</table>

@{
    decimal grandTotal = 0;
    foreach (var item in Model)
    {
        grandTotal += (item.Price * item.Quantity);
    }
    <p>Grand total = $@grandTotal</p>
}
