header {
    margin: 0 auto;
    width: 300px;
    margin-top: 30px;
    text-align: center;
    background-color: forestgreen;
    border: 5px double brown;
}

article {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: forestgreen;
    border: 5px double brown;
}

    article img {
        max-height: 200px;
        max-width: 250px;
    }

.login {
    max-width: 600px;
}

.loginTitle {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 200px;
    text-align: center;
    background-color: forestgreen;
    border: 5px double brown;
}

.register {
    padding-top: 15px;
}

body {
    margin: 3%;
    /*background-image: url("assets/BearMountain.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

h4 {
    text-align: center;
}

li {
    float: left;
}

    li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #ddd;
        }

        li a.active {
            color: white;
            background-color: #4CAF50;
        }

table.basket {
    /*margin: 0 3%;*/
    /*width: 900px;*/
    /*height: 250px;*/
    overflow-x: scroll;
}

    .basket tr {
        display: inline-flex;
        padding: 15px;
    }

    .basket td {
        padding: 5px;
    }

    .basket img {
        max-width: 75px;
        max-height: 100px;
    }

.products img {
    max-width: 350px;
    max-height: 350px;
}

    .products td {
        padding: 40px;
    }
