header {
    margin: 0 auto;
    width: 300px;
    margin-top: 30px;
    text-align: center;
    background-color: forestgreen;
    border: 5px double brown;
}

article {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    background-color: forestgreen;
    border: 5px double brown;
}

article img {
    max-height: 200px;
    max-width: 250px;
}

.login {
    max-width: 600px;
}

.loginTitle {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 200px;
    text-align: center;
    background-color: forestgreen;
    border: 5px double brown;
}

.register {
    padding-top: 15px;
}

body {
    background-image: url("assets/BearMountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.basket {
    background-color: white;
}
