@using Microsoft.AspNetCore.Identity
@using BearMountain.Models
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>

<head>
    <title>Bear Mountain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Unica+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/StyleSheet.css" />
</head>

<header>
    <h1>Bear Mountain</h1>

    @if (SignInManager.IsSignedIn(User))
    {
        <p>Signed in as: @User.Claims.First(name => name.Type == "FullName").Value</p>
    }
    else
    {
        <p>You are not logged in!</p>
    }
</header>

<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
        <li><a asp-controller="Inventory" asp-action="Index">PRODUCTS</a></li>
        <li><a asp-controller="Account" asp-action="Login">LOGIN</a></li>
        <li><a asp-controller="Account" asp-action="Register">REGISTER</a></li>
        <li><a asp-controller="Inventory" asp-action="Cart">SHOPPING CART</a></li>
    </ul>
</nav>


@RenderBody()