<nav>
    <ul>
        <li><a asp-controller="Inventory" asp-action="Index">Products</a></li>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Inventory" asp-action="Cart">Shopping Cart</a></li>
    </ul>
</nav>
@RenderBody()