@model  IEnumerable<BearMountain.Models.BasketItem>

@{ 
    var cartItems = Model.Where(item => item.CheckedOut == false).Count();
}

@if (cartItems > 0)
{
    <h4>Shopping Cart</h4>

    <table class="basket">

        @foreach (var item in Model)
        {
            @if (item.CheckedOut == false)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ProductID">
                            <img src="~/assets/@Html.DisplayFor(modelItem => item.Product.Image)" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                </tr>
            }
        }

    </table>
}
