@model  IEnumerable<BearMountain.Models.BasketItem>

<h4>Shopping Cart</h4>

<table class="basket">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProductID">
                    <img src="~/assets/@Html.DisplayFor(modelItem => item.Product.Image)" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Product.Price)
            </td>
        </tr>
    }

</table>
