@using Microsoft.AspNetCore.Identity
@using BearMountain.Models

@model IEnumerable<BearMountain.Models.Product>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}

@if (SignInManager.IsSignedIn(User))
{
    @await Component.InvokeAsync("ItemsInCart", @SignInManager.UserManager.GetUserName(User))
}

<header>
    <h2>Products</h2>
</header>


<table class="products">
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center;">
                    <img src="~/assets/@Html.DisplayFor(modelItem => item.Image)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
</table>
